// COLORS
$gray: #eaeaea;
$white: #ffffff;
$blue: #009EFF;
$green: #609966;
$red: #E21818;

// BOX SHADOW
$boxShadowBox: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
$boxShadowButton: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;